In [ ]:
sd="bestie"
type(sd)

str

In [ ]:
msg= 79.98
type(msg)

float

In [ ]:
a=5
print("program start")
if a == 50:
   print(" the value of a is 5")
else:
  print("the number is something else")
print("program end")

program start
 the value of a is 5
program end

In [ ]:
a = 10
if a == 5:
    print("print five")
elif a==1:
   print("one")
else:
    print("print not five")

print not five

In [ ]:
# based on the user input, print the corresponding day of the week if 1->sunday,if 2->monday,and so on
a = 5
if a==1:
  print("sunday")
elif a==2:
  print("monday")
else:
  print ("nothing")

nothing

In [ ]:
msg= "I am debolina"
len (msg)
print(len(msg))

13

In [ ]:
print(msg.upper())
print(msg.lower())
print(msg.swapcase())

I AM DEBOLINA
i am debolina
i AM DEBOLINA

In [ ]:
msg="          debo         "
print(type(msg))
print(len(msg))
print(len(msg.strip()))

<class 'str'>
23
4

In [ ]:
msg="          debo sid        "
print(type(msg))
print(len(msg))
print(len(msg.strip()))

<class 'str'>
26
8

In [ ]:
numbers ="5,6,7,8"
nos=numbers.split(',')
for item in nos:
    print(item)

5
6
7
8

In [ ]:
numbers ="5,6,7,8"
nos=numbers.split(',')
for item in nos:
    print(type(numbers))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
numbers ="5, 6,7, 8"
nos=numbers.split(',')
for item in nos:
    print(item)

5
 6
7
 8

In [ ]:
numbers="4,6,9,8"
print(numbers.split(','))

['4', '6', '9', '8']

In [ ]:
numbers ="5,6,7,8"
nos=numbers.split(',')
print (nos)
for item in nos: #temp is used for coverting something like int to string etc etc
  temp = int(item)
  print(item,type(item),temp,type(temp))

['5', '6', '7', '8']
5 <class 'str'> 5 <class 'int'>
6 <class 'str'> 6 <class 'int'>
7 <class 'str'> 7 <class 'int'>
8 <class 'str'> 8 <class 'int'>

In [ ]:
numbers ="5,6,7,8"
nos=numbers.split(',')
print (nos)
sum = 0        #sum is any no which you can choose by yourself
for item in nos: #temp is used for coverting something like int to string etc etc
  temp = int(item)
  sum =sum +temp
  print(item,type(item),temp,type(temp))
  print(sum)

['5', '6', '7', '8']
5 <class 'str'> 5 <class 'int'>
5
6 <class 'str'> 6 <class 'int'>
11
7 <class 'str'> 7 <class 'int'>
18
8 <class 'str'> 8 <class 'int'>
26

In [ ]:
msg = "1, 2, 3"
df = msg.split(",")
sum = 0
for item in df:
  temp = int(item)
  sum = sum + temp
print(sum)

6

In [ ]:
def sumlist(lst):
 sum = 0
 for item in df:
  temp = int(item)
  sum = sum + temp
 return sum
sumlist([1,2,3])

6

In [ ]:
# format
name = input("enter the name ")
password = input("enter the password ")
print("your name: {} and password entered is: {}".format(name,password))  #curly brackets required

enter the name oli
enter the password 098
your name: oli and password entered is: 098

In [ ]:
# for
for i in range(10,89,7):
  print(i)

10
17
24
31
38
45
52
59
66
73
80
87

In [ ]:
#find the sum of n multiples of 2 where n is an user input
sum = 0
for i in range (2,50,2):
 print (i)
 sum = sum +i

print (sum )

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
600

In [ ]:
#list
nlist = ["abc", 67,89,"jiu"]
print(nlist)

['abc', 67, 89, 'jiu']

In [ ]:
#list
nlist = ["abc", 67,89,"jiu"]
print(nlist[10])

IndexError: ignored

In [ ]:
listex= ["one", "two","three","four"]
print(listex)

['one', 'two', 'three', 'four']

In [ ]:
if "three" in listex:
  print ("success")

success

In [ ]:
listex.append("five")
print(listex) #it adds jotobar run kora hobe

['one', 'two', 'three', 'four', 'five', 'five']

In [ ]:
listex.pop()
listex # it subtracts jotobar run kora hobe

['one', 'two', 'three', 'four', 'five']

In [ ]:
listex.remove("one")
listex

['two', 'three', 'four', 'five']

In [ ]:
len(listex) #

4

In [ ]:
sort()|reverse()

In [ ]:
listex.reverse()
listex

['five', 'four', 'three', 'two']

In [ ]:
listex.sort() # sort uses to change ascending or descending order and reverse changes the recent code to des to asc
listex

['five', 'four', 'three', 'two']

In [ ]:
listex.sort()
listex

['five', 'four', 'three', 'two']

In [ ]:
listex.reverse()
listex

['two', 'three', 'four', 'five']

In [ ]:
#fuctions
def fname():
    print("i am your 1st function...")
fname()

i am your 1st function...

In [ ]:
def fname():
    print("i am your 1st function...")
    retVal ="success"
    return retVal
status = fname()
print(status)

i am your 1st function...
success

In [ ]:
def fname():
    print("i am your 1st function...")
    retVal ="success"
    return retVal, True
status, flag = fname()
print(status, flag)

i am your 1st function...
success True

In [ ]:
def fname(n):
    print("i am your 1st function...",n)
    retVal ="success"
    return retVal, True
name ="debolina"
status, flag = fname(name) # flag is used for returning multiple values
print(status, flag)

i am your 1st function... debolina
success True

In [ ]:
file = open("sample.txt","w+")#(or w) #predefined func open
file.write("This is my 1st line to file from python")
file.close()

In [ ]:
file = open("sample.txt","r+")
file.readline()

'this is my 1st line to file from python\n'

In [ ]:
file.readlines()

['this is my 1st line to file from python\n',
 'this is my 1st line to file from python\n',
 'this is my 1st line to file from python\n',
 'this is my 1st line to file from python\n']

In [ ]:
# write a fuction in python that accepts your details and save it into file with your name ..........
file = open("debolina.txt","w+")
file.write(" Name: DEBOLINA CHATTERJEE\n Register No: 23122112\n Class:1MScDSB\n Favourite Person: HALUM")
file.close()

89

In [ ]:
file.close()

In [ ]:
def saveDetails(Name ,Email, Phone):
   filename = Name + ".txt"
   with open("filename.txt","w+")as file:
      file.write("Name\t:\t"+ Name)
      file.write("\nEmail\t:\t"+ Email)
      file.write("\nPhone\t:\t"+ Phone)
user_name  = input("Enter your Name: ")
user_email = input("Enter your Email: ")
user_phone = input("Enter your Phone No: ")
saveDetails(user_name,  user_email, user_phone)

Enter your Name: debolina
Enter your Email: debolinaoli10@gmail.com
Enter your Phone No: 8945513808

In [ ]:
#write a python program that will take two operands and an operator and performs the calculation and gives the result. also save he calculations that your program performs in a file
 def saveDetails(operand 1, operand 2):
  filename = operand + ".txt"
  with open("filename.txt" , "w+")
       file.write("operator 1\t:\t"+ operand 1)
       file.write("operator 2\t:\t"+ operator 2)
user_name = input("enter 1st operand")

In [ ]:
 a = 0
 while a < 7:
  res = a * a
  print(a,res)
  a =  a+ 1 # here 1 means gapping.

0 0
1 1
2 4
3 9
4 16
5 25
6 36

In [ ]:
for i in range(1,10,1):
    if i ==9:
       break
    print(i)

1
2
3
4
5
6
7
8

In [ ]:
for i in range(1,10,1):
    if i ==6:
       continue
    print(i)

1
2
3
4
5
7
8
9

In [ ]:
listex = ["abx","yuyt","abc","abc","yui"]
setex = set(listex)
print(listex)
print(setex)

['abx', 'yuyt', 'abc', 'abc', 'yui']
{'abc', 'yui', 'yuyt', 'abx'}

In [ ]:

listex = ["abx","yuyt","abc","abc","yui"]
setex = set(listex)
back = list(setex)
print(listex)
print(setex)
print(back)
print(type(listex))
print(type(setex))
print(type(back))

['abx', 'yuyt', 'abc', 'abc', 'yui']
{'abc', 'yui', 'yuyt', 'abx'}
['abc', 'yui', 'yuyt', 'abx']
<class 'list'>
<class 'set'>
<class 'list'>

In [ ]:
# create a list of names that are random and repeating identify the unique items and their counts.
listex =["oli","priya","tina","trina","oli"]
setex= set(listex)
print(setex)

{'tina', 'priya', 'trina', 'oli'}

In [ ]:
# create a list of names that are random and repeating identify the unique items and their counts.
pic(phone)

In [ ]:
my_dict = {
    "name": "debolina chatterjee",
    "phone": 8955513808,
    "email": "debolina.oli@gmail.com",
}
print(my_dict["name"])

debolina chatterjee

In [ ]:
my_dict["name"] = "debolina"
print(my_dict)

{'name': 'debolina', 'phone': 8955513808, 'email': 'debolina.oli@gmail.com'}

In [ ]:
my_dict["address"] = "Christ university"
print(my_dict)

{'name': 'debolina', 'phone': 8955513808, 'email': 'debolina.oli@gmail.com', 'address': 'Christ university'}

In [ ]:

print(my_dict["kfjnr"])      #keyerror debe jeta list e thkbe na seta put korle

KeyError: ignored

In [ ]:
my_dict.keys()

dict_keys(['name', 'phone', 'email', 'address'])

In [ ]:
print(my_dict.keys())
for key in my_dict.keys():   # use it for separating keys in different line
    print(key)

dict_keys(['name', 'phone', 'email', 'address'])
name
phone
email
address

In [ ]:
my_dict.values()

dict_values(['debolina', 8955513808, 'debolina.oli@gmail.com', 'Christ university'])

In [ ]:
students = {
       "names": ["debolina","rai","tarun"],
       "roll no":[1,2,3],
}
for name in students["names"]: #uses for different lines ouput
    print(name)

debolina
rai
tarun

In [ ]:
students = {
       "names": ["debolina","rai","tarun"],
       "roll no":[1,2,3],
}
# for name in students["names"]: #uses for different lines ouput

# print(name)
print(students["names"][2])

tarun

In [ ]:

mscdsb = [
    {
        "name":"debolina",
        "roll":564,
        "phone": 9088757667
    },
    {
        "name":"oli",
        "roll":504,
        "phone": 9088757667
    },
    {
        "name":"debo",
        "roll":509,
        "phone": 9088757667
    },
]
for student in mscdsb:
    # print(student)
    for key in student.keys():
        print(student[key],end ="\t")
    print()

debolina	564	9088757667
oli	504	9088757667
debo	509	9088757667

In [ ]:

mscdsb = [
    {
        "name":"debolina",
        "roll":564,
        "phone": 9088757667
    },
    {
        "name":"oli",
        "roll":504,
        "phone": 9088757667
    },
    {
        "name":"debo",
        "roll":509,
        "phone": 9088757667
    },
]
for student in mscdsb:
    print(student)
    for key in student.keys():
        print(student[key],end ="\t")
    print()

{'name': 'debolina', 'roll': 564, 'phone': 9088757667}
debolina	564	9088757667
{'name': 'oli', 'roll': 504, 'phone': 9088757667}
oli	504	9088757667
{'name': 'debo', 'roll': 509, 'phone': 9088757667}
debo	509	9088757667

In [ ]:
my_list = [1,2,3]
my_list.append(4)
my_list.remove(2)
print(my_list)

[1, 3, 4]

In [ ]:
a = 0
while a < 10:
 a = a + 1
 print(a)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# vijesh sir google form exam
import random

student_grades = {
    "oli": random.randint(0, 100),
    "Babai": random.randint(0, 100),
    "Mona": random.randint(0, 100)
}

print(student_grades)

{'oli': 59, 'Babai': 38, 'Mona': 4}

In [ ]:

total_sum = 0
for number in range(1, 101):
    total_sum += number
print("The sum of all numbers from 1 to 100 is:",total_sum)

The sum of all numbers from 1 to 100 is: 5050

In [ ]:
def filter_even_numbers(input_list):
    even_numbers = []
    for num in input_list:
        if num % 2 == 0:
            even_numbers.append(num)
    return even_numbers

input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = filter_even_numbers(input_list)
print(result)

[2, 4, 6, 8, 10]